.popup {
    display: none;
    position: absolute;
    height: 658px;
    /*border: 1px solid red;*/
}

.popup.show {
    display: block;
}

.popup__wrapper {
    display: flex;
    height: 658px;
}

.popup__form {
    display: flex;
    flex-direction: column;
    /*background: #a21849;*/
    background-image: linear-gradient(#a21849, #ec2e71, #f14481);
}

.popup__form__text {
    margin: 46px 81px 19px 66px;
    text-align: center;
    position: relative;
}

.popup__form__title__h2{
    font-family: "Yantramanav", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.popup__form__description__paragraph {
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.form__text {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__text__input {
    position: absolute;
    width: 266px;
    height: 68px;
    /*padding: 0 15px;
    margin: 14px 66px;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B0AFAF;
    outline: none;
    border-style: none;
}

.form__text__input__name,
.form__text__input__email {
    display: block;
    width: 266px;
    height: 68px;
    padding: 0 15px;
    margin: 14px 66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B0AFAF;
    outline: none;
    border-style: none;
    margin-bottom: 36px;
}

.form__text__input_button {
    width: 298px;
    height: 68px;
    margin: 36px 66px 142px 68px;
    background: #131313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: "Brandon Grotesque", sans-serif;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-style: none;
}

.form__text__input__email,
.form__text__input__name,
.form__text__input_button {
    /* reset appearance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form__text__input__name span.error,
.form__text__input__email span.error {
    display: flex;
    position: relative;
    background-color: rgba(255, 0, 0, 0.2);
}

.form__text__input__email span.error.active,
.form__text__input__name span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.popup__banner {
    display: block;
    position: relative;
}

.popup__banner__image {
    position: absolute;
    background: url(Foto.png);
    margin-top: -2px;
    margin-left: -6px;
    width: 408px;
    height: 675px;
}